.fishtank {
    /* margin-top: 50px; */
    margin-bottom: 50px;
    position: relative;
    display: flex;
    overflow: hidden;
    /* padding: 50px; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: var(--primary-color);
    /* min-height: 20vh; */
    /* height: 200px; */
    background: linear-gradient(91.64deg, #ffce85 0.84%, #67a9e7 96.54%);
    box-shadow: 0px 4px 154px #6eaae1, inset 56px -5px 150px #ffffff, inset 50px 4px 104px #ffce85;
}

.fishContainer img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.527));
}

.fishContainer:nth-child(3n + 0) {
    position: absolute;
    animation: wave 9s infinite, fishcake 35s ease-in-out infinite;
    animation-delay: 0s;
}

.fishContainer:nth-child(3n + 1) {
    position: absolute;
    animation: wave 7s infinite, fishcake 30s ease-in-out infinite;
    animation-delay: 1s;
    bottom: 50%;
}

.fishContainer:nth-child(3n + 2) {
    position: absolute;
    animation: wave2 10s infinite, fishcake 40s ease-in-out infinite;
    bottom: 10%;
    animation-delay: 2s;
}

@keyframes fishcake {
    0% {
        right: -30%;
    }
    100% {
        right: 130%;
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }
    50% {
        transform: rotate(-5deg) translate(-10px, 45px);
    }
    100% {
        transform: rotate(0deg) translate(0px, 0px);
    }
}

@keyframes wave2 {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }
    50% {
        transform: rotate(10deg) translate(-10px, -45px);
    }
    100% {
        transform: rotate(0deg) translate(0px, 0px);
    }
}