.button {
    overflow: hidden;
    /* z-index: 999; */
    font-weight: 500;
    font-size: 16px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    text-decoration: none;
    background-color: white;
    outline: none;
    border-style: none;
    color: var(--primary-color);
    text-decoration: none;
    transition-duration: 1s;
    display: inline-flex;
    /* background-color: violet; */
    justify-content: center;
    align-items: center;
}

.stretch {
    /* width: 100%; */
}

.hug {
    display: inline-flex;
    /* background-color: black; */
}

.outlined {
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.dark {
    background-color: var(--primary-color);
    color: white;
}

.iconLight {
    color: #fff;
    margin-left: 10px;
    /* background-color: #3f98f1; */
}

.iconDark {
    color: #4e4666;
    margin-left: 10px;
    /* background-color: var(--primary-color); */
}

.icon {
    transform: rotate(0deg);
    transition-duration: 2s;
}

@media (hover: hover) {
    .outlined:hover {
        background: linear-gradient(91.64deg, #ffce85 0.84%, #67a9e7 96.54%);
        box-shadow: inset 26px -5px 25px #ffffff, inset 25px 4px 54px #ffce85;
        color: var(--primary-color);
        transition-duration: 0.5s;
    }
    .default:hover {
        background: linear-gradient(91.64deg, #ffce85 0.84%, #67a9e7 96.54%);
        outline: solid 1px white;
        box-shadow: inset 26px -5px 25px #ffffff91, inset 25px 4px 54px #ffce85;
        color: #ffffff;
        transition-duration: 0.5s;
    }
    .dark:hover {
        background-color: #363d4425;
        outline: solid 1px white;
        box-shadow: inset 26px -5px 25px #ffffff, inset 25px 4px 24px #ffce85;
        color: var(--primary-color);
        transition-duration: 0.5s;
    }
    .button:hover .icon {
        transform: rotate(360deg) translate(250%);
        transition-duration: 1.5s;
    }
    .button:hover {
        cursor: url("./../../Images/Cursors/Cursor_Pointer.svg") 15 15, pointer;
    }
}