.chip {
    overflow: hidden;
    /* z-index: 999; */
    font-weight: 500;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 100px;
    text-decoration: none;
    background-color: var(--highlight-color);
    outline: none;
    border-style: none;
    color: var(--primary-color);
    text-decoration: none;
    transition-duration: 1s;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    /* background-color: violet; */
    justify-content: center;
    align-items: center;
}