.noiseOverlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
    background: url(./../../Images/Noise.png);
    opacity: 0.1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}